
<div id="content">
	<h1 class="content">Group [val group.name]</h1>
		<h3 class="content">Members</h3>
		<div class="settings">
			<ul id="members" class="selector">
			</ul>
		</div>
		<h3 class="content">Permissions</h3>
		<div class="settings">
		<table id="permissions-table">
			<thead>
				<tr>
					<th>VCS</th>
					<th>Repository</th>
					<th>Path</th>
					<th>Permission</th>
				</tr>
			</thead>
			<tbody>
			[iter:permissions
				<tr>
					<td>[ival.vcs]</td>
					<td>[ival.repository]</td>
					<td>[ival.path]</td>
					<td>[ival.permission]</td>
				</tr>
			]
			</tbody>
		</table>
		</div>
</div>
